<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <%= render partial: 'email' %>

    <p>Thank you for visiting our store!</p>
    
  </body>
</html>