<%= turbo_stream_from "products" %>

<div class="container-fluid">
  <div class="row">
        <h1 class="text-center">All products</h1>
  </div>
  <div id="products" class="row products">
    <div class="row d-flex justify-content-around">
      <%@products.each do |product|%>
        <%= render partial: "products/products", locals: { product: product } %>
      <%end%>
    </div> 
  </div>
</div>